<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mcDates</title>

    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/moment/moment.js"></script>

    <script src="dist/index.js"></script>
    <script>
        angular.module('App', ["mcDatesModule"])
            .controller('AppController', ['$scope', function ($scope) {
                $scope.dateFrom = '';
                $scope.dateTo = '';
                $scope.onChangeDate = function () {
                    alert("Дата 1: " + $scope.dateFrom + " Дата 2: " + $scope.dateTo)
                }

            }]);


    </script>
</head>
<body ng-app="App">

<div layout="column" ng-controller="AppController">
    <md-toolbar>

    </md-toolbar>
    <md-content>


        <mc-dates date-from="dateFrom" date-to="dateTo" mc-change="onChangeDate()"></mc-dates>


        <div flex-offset="35">
            <md-input-container>
                <label>Дата 1</label>
                <input ng-model="dateFrom">
            </md-input-container>
            <md-input-container>
                <label>Дата 2</label>
                <input ng-model="dateTo">
            </md-input-container>
        </div>


    </md-content>


</div>


</body>
</html>